---
import '@styles/project_card.css';

const { thumbnail, title, subtitle, description, id } = Astro.props;
---


<div class="card">
    <a href={`/projects/${id}`}>
        <img src={thumbnail} alt="thumbnail"/>
    </a>
    <div>
        <h1>{title}</h1>
        <h2>{subtitle}</h2>
    </div>
    <!-- <div class="card-info">
        <h1>{title}</h1>
        <p>{description}</p>
    </div>
    <div class="details-container">
        <a href={`/projects/${id}`}>Read More</a>
        {/* <button onClick={() => {console.log("hello")}} className="primary-btn">Read More &gt;</button> */}
    </div> -->
</div>